body {
    background-color: rgb(41, 39, 38);
}


.pp {
    margin: 15px;
}



.p {
    border: 8px;
    border-style: dashed;
    border-color: black;
    background-color: rgb(29, 29, 29);
    font-family: Arial, sans-serif;
    font-size: larger;
    color: rgb(163, 163, 163);
}