* {
    background: rgb(190, 29, 29);
}

h1 h2 h3 h4 {
    text-align: center;
    color: rgb(64, 64, 64)
}

p {
    font-family: Arial, sans-serif;
    font-size: medium;
    color: white;
    background-color: rgb(11, 13, 16)
}

.p {
    outline-color: black;
    outline-style: auto;
    outline-width: 5px;
}